META_PIXEL_ID=1581583957093343
META_ACCESS_TOKEN=EAARYWpaSPnIBSUk0WfFbQZB3vtUEC2fe6cSVSmautwTkMA3lbUtUmZBZCWeZAIZBAkPbZAaCGGSQ0a4jC0K3OyIr6sYedVPYPQfpFbTZBJaXgFr87HRnIOqAILCYSy6cT3SM6JIZCZBYjyISUBu599vS3c4wBRbAI4Kt9xcrVIB6oy9UzHMoL2fwvC4sktmnzNwZDZD
META_TEST_EVENT_CODE=TEST8031
# Optional: set this to the Graph API version supported by your Meta app.
META_GRAPH_API_VERSION=v20.0
